/* if the urlbar turns red, we know the CSS has loaded. then it's just a question of XBL bugs. */
#urlbar {
  background-color: red;
}

#PopupAutoCompleteRichResultUnivSearch {
  /* TODO figure out our addon name so this url will resolve */
  -moz-binding: url("chrome://universalsearch/content.xml#autocomplete-rich-result-popup-univ-search");
  /* TODO should we set the height here, or is setting it on the browser el enough? */
  height: 416px;
}
